<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <a class="navbar-brand" href="<%= root_path %>">Coder Ticket</a>
  <ul class="nav navbar-nav">
    <%= render 'share/nav_links_for_auth' %>
  </ul>
</nav>  